<html>

    <head>
        <style>
        </style>
    </head>

    <body>
        <p>Hi {{name}},</p>
        <p>
            Your password was reset by the Vest Team on
            {{date}}
            at
            {{time}}.
        </p>
        <p>
            Most likely, this happened either because you (or somebody from your team) requested a reset, or because we noticed suspicious activity (such as login failed attempts from an unrecognised
            IP address or location) and are taking steps to prevent any security breaches.</p>
        <p> You can log in to your account using your email address and the new password:<br /> {{password}}</p>
        <p> We highly recommend changing this password <strong>immediately</strong> you log in again.</p>
        <p>Reply this email or email <a href="mailto:{{vestTeamEmail}}">{{vestTeamEmail}}</a> if you need more information or need to report anything unusual.</p>
    </body>

</html>