<html>

    <head>
        <style>
        </style>
    </head>

    <body>
        <p>Hi {{name}},</p>
        <p>
            Somebody initiated a password recovery request on your Vest account
            {{date}}
            at
            {{time}}.
        </p>
        <p>
            If this was not you, email
            <a href="mailto:{{vestTeamEmail}}">{{vestTeamEmail}}</a>
            immediately to ensure your account remains secure.
        </p>
        <p>
            Click
            <a href="{{link}}">here</a>
            to reset your password.
        </p>
    </body>

</html>